@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    padding-top: 5.5rem;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.offset:before{
    display: block;
    content: "";
    height: 6rem;
    margin-top: -4rem;
  }

.navbar-brand img{
    height: 3rem;
}
.nav-link{
    font-size: 16px;
    margin: 15px;
    color: black !important;
}

.nav-link.active,
.nav-link:hover{
  color:#0055a5 !important;
}
.menu-right-btn{
    padding: 13px 25px;
    transition: all 300ms ease-in;
    background-color: #0055a5;
    color: white;
    font-weight: bold;
}

.menu-right-btn:hover{
    color: #678aaa;
}
.navbar-custom{
    background-color: rgba(255,255,255,1);
    border-bottom: solid 2px #0055a5;
}
.jumbotron{
    margin-bottom: 0;
}
/* main page */
.custom-carousel{
    position: relative;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
}
.carousel-inner {
    height: auto!important;
}
.slider-area .carousel-inner .carousel-item img{
    object-fit: cover;
    height: auto;
    position: relative;
}
.carousel-caption{
    position: absolute;
    top: 38%;
    left: 0;
    right: 0;
    width: 100%;
}
.carousel-caption h2{
    font-size: 3.5rem;
    font-weight: bold;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
    letter-spacing: .3rem;
}
.carousel-caption h4{
    font-size: 1.8rem;
    font-style: italic;
    text-shadow: .1rem .1rem .8rem black; 
}
.carousel-indicators{
    z-index: 100;
}

.carousel-indicators .active{
    background-color: #0055a5;
}
.box{
    width: 50%;
    padding: 3rem;
    position: absolute;
    z-index: 30;
    color: #fff;
    background: rgba(0,0,0,.7);
    font-size: 5rem;
    top: 30%;
    left: 0;
    text-shadow: 4px 4px #000;
}
.box h2{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: .8rem;
}

.box h4{
    font-size: 1.2rem;
    text-shadow: .1rem .1rem .8rem black;
}

/*---about section---*/

.narrow{
    width: 75%;
    margin: 1.5rem auto;
    padding: 2rem;
  }
  
  .narrow h1{
    font-size: 2.4rem;
    padding-bottom: 1rem;
  }

/*---Features section---*/
  h3.heading{
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  
  }
  .heading-underline{
    width: 5rem;
    height: .2rem;
    background-color: #0055a5;
    margin: 0 auto 3rem;
  }

  .heading-underline-1{
    width: 15rem;
    height: .2rem;
    background-color: #0055a5;
    margin: 0 auto 3rem;
  }
  .feature{
    padding: 2rem;
  }
  
  .feature h3{
    font-size: 1.4rem;
    text-transform: uppercase;
    padding-top: 2rem;
    padding-bottom: .4rem;
  }
  .feature p{
    font-size: 1rem;
  }
  
  .feature{
    padding: 2rem;
  }
/*---footer---*/
footer{
    background-color: #40474e;
    padding: 1rem;
    color: white;
}
  

/*---Quotes---*/
#quotes{
    padding: 1rem 1rem;
    /* background-color: #0055a5; */
    background: linear-gradient(to right bottom, rgba(16,29,44,1) , rgba(28, 44, 155,0.8));
}
.heading-1{
    text-align: center;
    color: white;
    font-style: italic;
    padding: 2rem 2rem .5rem 2rem;
}
.quote-writer{
    color: white;
    font-style: italic;
    padding: 0 2rem 1rem 2rem;
}
/*---End Quotes---*/

.image-size{
   width: 100%;
}

#partners{
    padding: 5rem 2rem;
  }
.main-content {
    position: relative;
}
.owl-theme .custom-nav {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    vertical-align: middle;
    top:15%;
    left: 0;
    right: 0;
}
.owl-prev, .owl-next {
    position: absolute;
    height: 100px;
    color: inherit;
    background: none;
    border: none;
    z-index: 100;
}
.owl-prev i, .owl-next i {
    font-size: 2.5rem;
    color: #cecece;
}
.owl-theme .owl-nav [class*=owl-]{
    background-color: transparent !important;
    font-size: 50px !important;
    color: #0055a5 !important;
}    
.owl-theme .owl-nav [class*=owl-]:link{
    color: transparent !important;
    border: none;
}        
.fa-angle-left:before,
.fa-angle-right:before{
    color: #0055a5;
}
.owl-prev {
    left: 0;
}
.owl-next {
    right: 0;
}
.item{
    position: relative;
}

/*---contact---*/
.fixed-background {
    position: relative;
    width: 100%;
  }
  .fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999!important;
  }
  .fix {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
  }
  .fix{
    background-image: url(projects/carleton-university-twin-pad-arena.jpg);
    z-index: -1;
  }
  .dark{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 7rem 2rem;
  }
  .contact-line{
    color: #f5f6fb;
    padding-bottom: 1rem;
  }
textarea {
	resize: none;
}
.form-label {
	font-size: 12px;
	color: #0055a5;
	margin: 0;
    display: block;
    color: #f5f6fb !important;
    font-weight: bold;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
	transition: .333s ease top, .333s ease opacity;
}
.form-control {
	border-radius: 0;
  border-color: #ccc;
  background-color: transparent;
  color: white;
   	border-width: 0 0 2px 0;
   	border-style: none none solid white;
   	box-shadow: none;
}
.form-control:focus {
  box-shadow: none;
  color: white;
  background-color: transparent;
	border-color: #0055a5;
}
.js-hide-label {
	opacity: 0; 	
}
.js-unhighlight-label {
	color: #0055a5;
}
.btn-start-order {
    background-color: #2b38a2;
    border: 1px solid #2f323a;
    width: -webkit-fill-available;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    line-height: inherit;
    margin: 30px 0;
    padding: 10px 50px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}
.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
  border-color: #031490;
  background-color: #0055a5;
	color: white;
}
/* .modal-content{
    background-color: transparent!important;
} */
.heading-info{
    font-weight: 600;
    color: #0b4a85;
}
.heading-text{
    color: #0055a5;
}
.popup-heading{
    font-weight: 600;
    color: #0b4a85;
}
.popoup-text{
    color: #0055a5;
    line-height: 1.7rem;
    text-justify: center;
    text-align: justify;
}
/*---end contact---*/

/*---Start Projects---*/
.filters{
    display: block;
    width: 100%;
    margin:0;
    padding: 30x 0;
}

.filters > li{
    list-style: none;
    display: inline-block;
}

.filters > li > a{
    display: block;
    color: #0055a5;
    text-decoration: none;
    padding: 5px 20px;
}

.filters > li > a:hover{
    background-color: #e6e9ed;
    border-radius: .3rem;
}

.filters > li.active > a{
    color: #fff;
    background-color: #0055a5;
    border-radius: .3rem;
}
.card-head{
    position: relative;
}
.card{
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
    color: #000;
    border-radius: 0;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 1px 1px 1.5px rgba(0,0,0,0.075);
}

.card-body{
    display: none;
}
.item{
    padding: 1rem;
}
.image-fluid{
    padding: 0 !important;
}
.card-hover{
    position: absolute;
    top:100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom, rgba(16,29,44,1) , rgba(28, 44, 155,0.8));
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    -webkit-transition: ease-in-out 0.4s;
    -moz-transition: ease-in-out 0.4s;
    -ms-transition: ease-in-out 0.4s;
    transition: ease-in-out 0.4s;
}
/* Team Section */
.team-row{
    background: #fff;
    width: 95%;
    margin: 4% auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.team-col{
    flex-basis: 25%;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.team-col img{
    width: 100%;
    cursor: pointer;
    transition: 1s;
}

.team-col:hover img{
    transform: scale(1.1);
}

.team-col p{
    margin: 20px 15px;
}

.team-col span{
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 15px solid #fff;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index:2;
}

.team-col .arrow{
    right: unset;
    left: 0;
    border-left: 15px solid #fff;
    border-right: 15px solid transparent;
}

.team-col h3{
    margin-top: 15px;
    color: #0055a5;
    font-weight: bold;
}

.team-col h5{
    font-style: italic;
    font-weight: bold;
}
@media (max-width: 770px){
    .team-row{
        width: 95%;
    }
    .team-col{
        flex-basis: 50%;
        font-size: 14px;
    }

    .team-row .team-col:nth-child(1){
        order: 1;
    }
    .team-row .team-col:nth-child(2){
        order: 2;
    }
    .team-row .team-col:nth-child(3){
        order: 5;
    }
    .team-row .team-col:nth-child(4){
        order: 6;
    }
    .team-row .team-col:nth-child(5){
        order: 3;
    }
    .team-row .team-col:nth-child(6){
        order: 4;
    }
    .team-row .team-col:nth-child(7){
        order: 7;
    }
    .team-row .team-col:nth-child(8){
        order: 8;
    }
}

@media (max-width: 1370px){
    .content-text{
        top: 35%;
    }
}
@media (max-width: 1082px){
    .box h2{
        font-size: 1.5rem;
        padding-bottom: .5rem;
    }
    .box h4{
        font-size: .8rem;
    }
}
@media screen and (min-width: 992px) {
    .modal-lg {
      max-width: 920px; 
    }
}

@media (max-width: 990px){
    body{
        padding-top: 4.5rem;
    }
    .content-text{
        top: 20%;
    }
    .owl-theme .custom-nav {
        visibility: visible;
        opacity: 1;
    }
    .carousel-caption h2{
        font-size: 2.2rem;
        padding-bottom: .7rem;
        letter-spacing: .2rem;
    }
    .carousel-caption h4{
        font-size: 1.3rem;
    }
}
@media (max-width: 848px){
    .box{
        padding: 2rem;
    }
    .box h2{
        font-size: 1rem;
        padding-bottom: .4rem;
    }
    .box h4{
        font-size: .8rem;
    }
}
@media (max-width: 744px){
    html{
        font-size: 85%;
    }
    .owl-theme .custom-nav {
        top: 25%;
    }
    .custom-overlay{
        display: none;
    }
    .card-body{
        display: flex;
        text-align: center;
        align-self: center;
    }
    .card-hover{
        display: none;
    }
    .carousel-caption h2{
        font-size: 1.8rem;
        padding-bottom: .5rem;
        letter-spacing: .1rem;
    }
    .carousel-caption h4{
        font-size: 1rem;
    }
}

@media (max-width: 666px){
    .box{
        padding: 1rem;
    }
    .box h2{
        font-size: .6rem;
        padding-bottom: .2rem;
    }
    .box h4{
        font-size: .3rem;
    }
}
@media (max-width: 576px){
    html{
        font-size: 50%;
    }
    .img-prj{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .carousel-caption h2{
        font-size: 2rem;
        padding-bottom: .3rem;
        letter-spacing: .05rem;
    }
    .carousel-caption h4{
        font-size: .8rem;
    }
}

@media screen and (min-width: 576px) {
    .modal-lg {
      max-width: 750px; 
    }
}
@media (max-width: 464px){
    .box{
        padding: .2rem;
    }
    .box h2{
        font-size: .3rem;
        padding-bottom: 0rem;
    }
    .box h4{
        font-size: .2rem;
    }
}

